@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

/* Colors */
$color-primary: rgba(254, 44, 85, 1);
$white: white;
// $color-primary: rgb(59, 11, 217);

/* Font Styles */
$font-primary: 'IBM Plex Sans', sans-serif;
