@import 'src/components/GlobalStyles/variables';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1150px;
    padding: 0 24px 0 20px;
  }
}

.centerContainer {
  position: relative;
  min-width: 200px;
  padding: 0 8px;
  .formContainer {
    position: relative;
  }
}

.searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  .inputElement {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    width: 252px;
    color: rgba(22, 24, 35, 1);
    caret-color: rgba(254, 44, 85, 1);
    &:focus ~ .inputBorder {
      display: block;
    }
  }
  .loadingIcon {
    font-size: 0;
    .loadingCircle {
      animation: quayDeu 1s linear infinite;
    }
    svg {
      margin: 0px 12px;
    }
  }
  .split {
    width: 1px;
    height: 28px;
    margin: -3px 0;
    background: rgba(22, 24, 35, 0.12);
  }
  .buttonSearch {
    padding: 11px 16px 11px 12px;
    margin: -12px -16px;
    font-size: 0;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    margin-left: 0;
  }
  .inputBorder {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1.5px solid rgba(22, 24, 35, 0.2);
    border-radius: 92px;
    z-index: -1;
  }
}

@keyframes quayDeu {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
